<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><h2>회원 가입</h2></p>
    <p><h4>회원정보 입력</h4></p>
    <form action="" th:action th:object="${form}" method="post">
        <p><label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}"/></p>

        <p><label for="memberName">회원 이름</label>
            <input type="text" id="memberName" th:field="*{memberName}"/></p>

        <p><label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"/></p>

        <p><label for="academyName">학원 이름</label>
            <input type="text" id="academyName" th:field="*{academyName}"/></p>

        <button type="submit">가입</button>
    </form>

</body>
</html>