<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/login.css}" href="../css/login.css">
</head>
<body>

    <form action="" th:action th:object="${form}" method="post">
        <div class="member">

            <!-- 로고 -->
            <img class="logo" src="/images/abc.png">

            <div class="field">
                <label for="loginId">로그인 ID</label>
                <input type="text" id="loginId" th:field="*{loginId}"/>
            </div>

            <div class="field">
                <label for="memberName">이름</label>
                <input type="text" id="memberName" th:field="*{memberName}"/>
            </div>

            <div class="field">
                <label for="password1">비밀번호</label>
                <input class="password" type="password" id="password1" th:field="*{password}"/>
            </div>

            <div class="field">
                <label for="password2">비밀번호</label>
                <input class="password-confirm" type="password" id="password2" th:field="*{passwordConfirm}"/>
            </div>

            <div class="field">
                <label for="academyName">학원 이름</label>
                <input type="text" placeholder="학원이름" id="academyName" th:field="*{academyName}"/>
            </div>

            <input type="submit" value="가입"/>
            <input type="button" th:onclick="|location.href='@{/}'|" value="취소"/>
        </div>
    </form>

</body>
</html>