<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>울트라맨 트리거</h2>

울트라맨 트리거는 울트라맨 티가의 정식 신세대 계승작이다.<br><br>
3천만년 전의 고대문명 지구에서 어둠의 거인과 맞서 싸운 빛의 거인인 트리거는
사실 본인도 어둠의 거인이였다.<br><br>
현대에서의 주인공인 마나키 켄고가 화성에서 울트라맨 트리거 석상에 반응하여
울트라맨 트리거로 변신하였는데, 사실 고대문명에서 트리거를 빛의 거인으로 만든 사람도 주인공이다.<br><br>
중간에 과거로 어떻게 가게되는데 자세한건 만화를 보기 바란다. 거기서 트리거를 빛의 거인으로 만들고
그 빛의 거인이 된 트리거가 화성에 봉인되고, 그 봉인된 트리거가 빛의 화신으로 만든 인간체가 주인공이다.
결국 트리거는 주인공 본인이라는 설정.<br><br>
일단 김선우가 현재 제일 좋아하는 울트라맨이다.<br><br>
티가를 계승하였기에 타입도 3개로 나뉜다.
파워 타입, 스카이 타입, 글리터<br><br>
글리터 타입은 일단 개쎄다.<br><br>

<button type="home" onclick="location.href='index.html'">홈</button>

</body>
</html>